a, a:active {
    text-decoration: none;
}
.font-weight-normal {
    font-weight: 600!important;
}
.card {
    box-shadow: 0 10px 20px #eee, 0 6px 6px #d5d5d5;
}

/* header */
.sticky-top {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
}
.header-link {
    color: #122A9A;
}
.header-link:hover {
    color: #35B8BE;
    text-decoration: none;
}
.header-box {
    background: #3F51B5;
} 

/* content */
.btn-yt {
  background-color: #d61e1e;
  color: #fff;
}
.btn-code {
  background-color: #6b6868;
  color: #fff;
}
.btn-yt:hover, .btn-code:hover {
  color: #fff;
}

/* footer */
footer .links {
    display: flex;
}
footer .links a {
    padding: 40px;
    flex-basis: 100%;
    text-align: center;
    letter-spacing: .4px;
    text-decoration: none;
    color: #FFF;
    margin: 0;
}
footer .links a.visit-website {
    background: #7aa7bd;
}
footer .links a.youtube-follow {
    background: #E51310;
}
footer .links a.reach-to-us {
    background: #8b00c1;
    color: #222;
}
footer .links a span {
    display: inline-block;
    font-size: 18px;
    transition: all 150ms cubic-bezier(.4, 0, .2, 1);
    transform: scale(1);
}
footer .links a:hover span {
    transform: scale(1.2);
}

/* media */
@media (max-width: 500px) {
    .display-4 {
        font-size: 2rem;
    }
    footer .links {
        flex-direction: column;
    }
}
