a, a:active {
    text-decoration: none;
}

/* header */
.sticky-top {
    background: #fff;
}
.header-link {
    color: #122A9A;
}
.header-link:hover {
    color: #35B8BE;
    text-decoration: none;
}
.header-box {
    background: #3F51B5;
} 

.footer-end {
    display: flex;
    justify-content: flex-end;
}
