a, a:active {
    text-decoration: none;
}
.font-weight-normal {
    font-weight: 600!important;
}
.card {
    box-shadow: 0 10px 20px #eee, 0 6px 6px #d5d5d5;
}
.display-4 {
    font-size: 3rem;
}
.text-muted {
    color: #a6add0!important;
}

/* header */
.sticky-top {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
}
.header-link {
    color: #122A9A;
}
.header-link:hover {
    color: #35B8BE;
    text-decoration: none;
}
.header-box {
    background: #122A9A;
} 

/* content */
.btn-yt {
  background-color: #d61e1e;
  color: #fff;
}
.btn-code {
  background-color: #6b6868;
  color: #fff;
}
.btn-yt:hover, .btn-code:hover {
  color: #fff;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

/* media */
@media (max-width: 500px) {
    .display-4 {
        font-size: 2rem;
    }
}
