a, a:active {
    text-decoration: none;
}
.font-weight-normal {
    font-weight: 600!important;
}
.card {
    box-shadow: 0 10px 20px #eee, 0 6px 6px #d5d5d5;
}

/* header */
.sticky-top {
    background: #fff;
}
.header-link {
    color: #122A9A;
}
.header-link:hover {
    color: #35B8BE;
    text-decoration: none;
}
.header-box {
    background: #3F51B5;
} 



/* media */
@media (max-width: 500px) {
    .display-4 {
        font-size: 2rem;
    }
}
